.container{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--background);
}

.container.active{
    display: block;
}

/* TÍTULO PRINCIPAL */
.container .titulo{
    font-size: 4rem;
    color: #ffffff;
    font-family: "Righteous", sans-serif;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* SUBTITULO */
.container .sub-title{
    width: 60%;
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FOTO PERFIL */
.container .profile{
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* PAGINAS */
.pagegit, .pagelinkedin{
    font-size: 3rem;
    font-family: "Righteous", sans-serif;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ICONES */
.container img{
    width: 120px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* BOTÕES */
#prev, #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #eee9;
    border: 1px solid #eee9;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
}

#prev{
    left: 30px;
}

#next{
    right: 30px;
}

/* ANIMAÇÃO */
@keyframes toActive {
    from{
        top: 100%;
        opacity: 0;
    }
}

/* ANIMAÇÃO DO TITULO */
.container.active .titulo{
    animation: toActive 0.5s ease-in-out 1;
}

/* ANIMAÇÃO DA FOTO */
.container.active img{
    animation: toActive 0.5s ease-in-out 1;
}