.container {
    background-color: #AEB784;
    border-radius: 10px;
    padding: 100px;
    text-align: center;
    width: 300px;
    max-width: 100%;
}
.profile {
width: 200px;
height: 200px;
border-radius: 50%;
object-fit: cover;
border:2px solid #ffffff;
margin:0px 50px;
}
.link-istagram{
  display: flex;
  align-items: center;  
  background-color: #41431B;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px 0;
  text-decoration: none;
}
.link-linkedin{
  display: flex;
  align-items: center;  
  background-color: #41431B;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px 0;
  text-decoration: none;
}
.link-github{
  display: flex;
  align-items: center;  
  background-color: #41431B;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px 0;
  text-decoration: none;
}
.link-whatsapp{
  display: flex;
  align-items: center;  
  background-color: #41431B;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px 0;
  text-decoration: none;
}
.sub-title{
    margin-bottom: 10px;
}
p{
    color: #E3DBBB;
}

body {
    background-color: #41431B;
    color: #41431B;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}